<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>My Book Voyage</title>
</head>
<body class="body">
    <div class="head">
        <h1 class="heading"><%= tableName %></h1>
    </div>

    <% for (let i = 0; i < book.length; i++) { %>
    <div class="whole">
        <div>
            <img class="image" src="<%= book[i].img_url %>">
        </div>
        <div class="text">
            <div class="title">
                <h2><%= book[i].book_name %> </h2>
                <h2>By <%= book[i].author %></h2>
            </div>
            <div class="dis">
                <% if (content[i] && content[i].description) { %>
                    <% if (content[i].description.value) { %>
                        <p><%= content[i].description.value %></p>
                    <% } else { %>
                        <p><%= content[i].description %></p>
                    <% } %>
                <% } else { %>
                    <p>Description not available</p>
                <% } %>
            </div>
            <div class="rating">
                <h3>My Rating : <%= book[i].rating %>/5</h3>
            </div>
        </div>
    </div>
    <br>
    <% } %>
    <a class="fo" href="/"> GO TO HOME PAGE</a>
</body>
</html>
